# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
*.egg-info/
*.egg
*.sqlite3

# Flask instance folder
instance/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Pytest cache
.pytest_cache/

# Environment files
.env
venv/
